/TestaVariaveis.class
/celsiusFahrenheit.class
/FarenheitParaCelsius.class
/CelsiusFahrenheit.class
/CelsiusParaFahrenheit.class
/VolumeDoCilindro.class
/VelocidadeMediaTempoGastoDistancia.class
/PrestacaoEmAtraso.class
/Ex1.class
/Ex2.class
/SalarioReajustado.class
/FahrenheitParaCelsius.class
/TrocaDeValores.class
/Ex7a_CelsiusParaFahrenheit.class
/Ex7b_FahrenheitParaCelsius.class
/Ex7c_VolumeDoCilindro.class
/Ex7d_VelocidadeMediaTempoGastoDistancia.class
/Ex7e_PrestacaoEmAtraso.class
/Ex7f_TrocaDeValores.class
/Ex7g_AdicaoMultiplicacao.class
/Ex7h_VolumeDoParalelepipedo.class
/Ex7i_QuadradoDiferenca.class
/Ex7j_DolarParaReal.class
/Ex7k_RealParaDolar.class
/Ex7l_SomaDosQuadrados.class
/Ex7m_QuadradoDaSoma.class
